{% extends "base.html" %}
{% load static %}
{% block title %}
Portfolio
{% endblock title %}

{% block main %}
<div class="container-fluid">
  <h3 class="mt-4">Welcome, ProfitSutra User!</h3>
  <p class="text-muted">AI-Driven Investment Advice & Portfolio Management</p>
    
<!-- Portfolio Addition -->
  <p><button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addition">
    Add Stock
    </button></p>
  
  <!-- Modal -->
  <div class="modal fade" id="addition" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Stock Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'update_create_portfolio' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="stockName" class="form-label">Stock Name</label>
          
              <select name="name" class="form-select" id="stockName" required>
                <option selected disabled>Select Stock</option>
                {% for data in stock_names_option %}
                <option value="{{ data }}">{{ data }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="stockQty" class="form-label">Stock Quantity</label>
              <input type="number" name="quantity" class="form-control" id="stockQty" required>
            </div>
            <div class="mb-3">
              <label for="stockPrice" class="form-label">Stock Price</label>
              <input type="number" name="price" class="form-control" id="stockPrice" required>
            </div>
            <div class="mb-3">
              <label for="stockDate" class="form-label">Stock Purchase Date</label>
              <input type="date" name="buy_date" class="form-control" id="stockDate" required>
            </div>
          
        </div>
        <div class="modal-footer">

          <button type="submit" class="btn btn-success">Submit</button>
        </form>
        </div>
      </div>
    </div>
  </div>
 <!-- Portfolio Addition End -->
  <div class="container-fluid mt-5">
    <div class="row mt-4">
      <div class="col-lg-4 col-md-6 col-12">
        <h4>Current Portfolio</h4>
        <div class="row">
          {% for data in user_stocks %}
         <!-- Card Start-->
          <div class="col-12 mb-2">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h5 class="mb-1">{{ data.name }}</h5>
                  <span class="text-success  bg-opacity-25 badge text-bg-success">+5%</span>
                </div>
                <div class="d-flex justify-content-between mt-2">
                  <small class="text-secondary">Qty: {{ data.quantity }}</small>
                  <small class="text-secondary">{{ data.buy_date }}</small>
                </div>
                
              </div>
            </div>
          </div>
          <!-- Card End-->
          {% endfor %}
        </div>
      </div>

      <div class="col-lg-8 col-md-6">
        <h4>AI-Driven Investment Advice</h4>
        <div class="row gy-2">
          {% comment %} {{recom}} {% endcomment %}
          {% for data in recom %}
          
         
          <!-- Card Start-->
           <!-- Button trigger modal -->
              <button type="button" class="btn bg-white" data-bs-toggle="modal" data-bs-target="#exampleModal{{forloop.counter}}">
                <div class="d-flex justify-content-between">
                  <span class="fs-6 fw-bold">{{data.stock_name}}</span>
                  <span class="text-end  text-success badge text-bg-success bg-opacity-25">
                    <i class="bi bi-graph-up-arrow "></i> Buy
                      </span>
                      
                </div>
                  <span class="fs-6 float-start">Sector : {{data.Analyst.0.Sector}}</span>
               
              </button>
  
              <!-- Modal -->
              <div class="modal fade" id="exampleModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
                  <div class="modal-content bg-light">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">{{data.stock_name}}</h1>
  
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!-- Card Start-->
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Fundamental Analysis</h5>
                          {% comment %} <h6 class="card-subtitle mb-2 text-body-secondary">Fundamental Analysis </h6> {% endcomment %}
                          <table class="table">
                            <thead>
                              <tr class="table-light">
                                <th scope="col">Metric</th>
                                <th scope="col">Data</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for k,v in data.fundamental_analysis.stock_data.items %}
                              <tr>
                                <td>{{k}}</td>
                                <td>{{v}}</td>
                              </tr>
                              {% endfor %}
                        
                              
                            </tbody>
                          </table>
                       
                        </div>
                      </div>
                      <!-- Card End-->

                       <!-- Card Start-->
                       <div class="card mt-4">
                        <div class="card-body">
                          <h5 class="card-title">Competitor Analysis</h5>
                          {% comment %} <h6 class="card-subtitle mb-2 text-body-secondary">Fundamental</h6> {% endcomment %}
                          <div class="table-responsive">
                            <table class="table  table-hover">
                              <thead>
                                <tr class="table-light">
                                  <th scope="col">Stock_Name</th>
                                  <th scope="col">Current Price</th>
                                  <th scope="col">Market Capitalization</th>
                                  <th scope="col">P/E Ratio</th>
                                  <th scope="col">P/B Ratio</th>
                                  <th scope="col">ROE</th>
                                  <th scope="col">Net Revenue</th>
                                  <th scope="col">Annual Net Profit</th>
                                  <th scope="col">Operating Profit Margin</th>
                                  <th scope="col">Price to Book Value</th>
  
                                </tr>
                              </thead>
                              <tbody>
                                {% for analy in data.competitor_analysis %}
                                <tr>
                                  {% for d,v in analy.items %}
                                  <td>{{v}}</td>
                                  {% endfor %}
                                  
                                  
                                </tr>
                                {% endfor %}
                          
                                
                              </tbody>
                            </table>
                          </div>
                       
                        </div>
                      </div>
                      <!-- Card End-->
  
  
                          <!-- Card Start-->
                          <div class="card mt-4">
                            <div class="card-body">
                              <h5 class="card-title">News & Sentiments</h5>
                               {% for news in data.News %}
                               <div class="bg-light p-3">
                                <h6 class="card-subtitle mb-2 text-body-secondary">{{news.title}} <span class="float-end badge  bg-opacity-25 {% if news.sentiment_score > 0 %}text-success text-bg-success  {% elif news.sentiment_score < 0 %} text-bg-danger text-danger {% else %}text-muted text-bg-secondary{% endif %}">{{news.sentiment_score}}</span></h6>
                                {% for tag in news.tags %}
                                <span class="badge text-bg-secondary bg-opacity-75">{{tag}}</span>
                                {% endfor %}
                                <p class="card-text">{{news.summary}}</p>
             
                             </div>
                               {% endfor %}
                    
                                    
                            </div>
                          </div>
                          <!-- Card End-->
  
                           <!-- Card Start-->
                           <div class="card mt-4">
                            <div class="card-body">
                              <h5 class="card-title">Analyst Recommendations & Ratings</h5>
                            
                               <div class="bg-light p-3">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Metrix</th>
                                        <th>Value</th>
                                       
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for k,v in data.Analyst.0.items %}
                                      <tr>
                                        <td>{{k}}</td>
                                        <td>{{v}}</td>
                                      </tr>
                                      {% endfor %}
                                     </tbody>
                                     
                                   
                                  </table>
               
                               </div>
                                    
                            </div>
                          </div>
                          <!-- Card End-->
                      
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      
                    </div>
                  </div>
                </div>
              </div>
           <!-- Card End-->

           {% endfor %}


        </div>
          
    </div>
  </div>
</div>





{% endblock main %}
